apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "dnscrypt-proxy.fullname" . }}
  labels:
    {{- include "dnscrypt-proxy.labels" . | nindent 4 }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      {{- include "dnscrypt-proxy.selectorLabels" . | nindent 6 }}
