replicaCount: 1

image:
  repository: cloudflare/cloudflared
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5053
  # Fixed IP for CoreDNS forwarding
  clusterIP: "10.43.48.123"

resources:
  limits:
    memory: 64Mi
    cpu: 100m
  requests:
    memory: 32Mi
    cpu: 50m

dns:
  upstreams:
    - "https://1.1.1.1/dns-query"
    - "https://1.0.0.1/dns-query"
